# Python Basics

Hier möchten wir uns in die Grundlagen von Python einfinden. *kursiv* **fett**

In [2]:
print ("Hello world!")

Hello world!

In [3]:
# Dies ist ein Kommentar und wird nicht ausgeführt
print ("Something")

Something

## Einfache Datentypen

In [5]:
# Variablen und Wertezuweisung
name = "Lovelace"
print (name)

Lovelace

In [6]:
# Strings
first_name = "Ada"
print (first_name)

Ada

In [7]:
first_name

'Ada'

In [8]:
name
first_name

'Ada'

In [9]:
print(name)
print(first_name)

Lovelace
Ada

In [10]:
print("name")

name

In [11]:
# Intergers - Ganzzahlen
age = 73
print(age)

73

In [12]:
# Floats - Gleitkommazahlen
size = 1.7123
print(size)

1.7123

In [14]:
# Boolean - Boolsche Werte
knows_math = True
likes_gardening = False
print(knows_math)
print(likes_gardening)

True
False

In [16]:
type(likes_gardening)

bool

In [17]:
type(size)

float

In [18]:
type(name)

str

## Operatoren

In [19]:
5 + 5

10

In [20]:
10 * 5

50

In [21]:
age * 100

7300

In [22]:
name + name

'LovelaceLovelace'

In [23]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [24]:
name + age

TypeError: can only concatenate str (not "int") to str

In [25]:
# Type conversion
str(age)

'73'

In [26]:
name + str(age)

'Lovelace73'

In [27]:
size/age

0.023456164383561642

In [28]:
name/age

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [29]:
name_of_articles = "50"

In [30]:
name_of_articles / 10

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [31]:
int(name_of_articles) / 10

5.0

## Funktionen und Methoden nutzen

In [32]:
len(name)

8

In [33]:
len(age)

TypeError: object of type 'int' has no len()

In [34]:
name.upper()

'LOVELACE'

In [35]:
name

'Lovelace'

In [36]:
name.upper

In [37]:
name.count("e")

2

In [38]:
name.count("ov")

1

In [39]:
name.replace("lace", " is everywhere")

'Love is everywhere'

In [40]:
name.replace("lace", "is everywhere")

'Loveis everywhere'

## Listen und Dicionaries

In [41]:
# Listen
names = ["Lovelace", "Darwin", "Currie", "Hawking"]

In [42]:
names

['Lovelace', 'Darwin', 'Currie', 'Hawking']

In [43]:
names[1]

'Darwin'

In [44]:
names[0]

'Lovelace'

In [45]:
name[0]

'L'

In [46]:
names[2]

'Currie'

In [47]:
names[-1]

'Hawking'

In [48]:
names[0:2]

['Lovelace', 'Darwin']

In [49]:
names[2:4]

['Currie', 'Hawking']

In [52]:
# Dictionary (Schlüssel-Werte-Paare)
authors_and_birth_years = {"Lovelace": 1815,
                           "Darwin": 1809,
                           "Noether": 1882}

In [53]:
authors_and_birth_years["Darwin"]

1809

In [54]:
authors_and_birth_years["Superman"]

KeyError: 'Superman'

## for-loops (for-Schleifen)

In [56]:
for person in names:
    print(person + " did awesome stuff.")

Lovelace did awesome stuff.
Darwin did awesome stuff.
Currie did awesome stuff.
Hawking did awesome stuff.

In [57]:
for person in names:
    print(person + " did awesome stuff.")
    print("------")
print("======")

Lovelace did awesome stuff.
------
Darwin did awesome stuff.
------
Currie did awesome stuff.
------
Hawking did awesome stuff.
------
======

In [59]:
season = "Spring"
print(season)
season = "Autumn"
print(season)

Spring
Autumn

In [60]:
season ="Summer"
print(season)

Summer

In [61]:
season = season.upper()

In [62]:
print(season)

SUMMER

In [66]:
x = "blub"

In [64]:
x = "bla"

In [67]:
print(x)

blub

In [68]:
%who

age	 authors_and_birth_years	 first_name	 knows_math	 likes_gardening	 name	 name_of_articles	 names	 person
season	 size	 x

In [69]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Conditionals (Bedingte Anweisungen)

In [70]:
20 > 10

True

In [71]:
20 < 10

False

In [72]:
temp = 20
if temp > 15:
    print("It's warm.")

It's warm.

In [74]:
temp = 10
if temp > 15:
    print("It's warm.")
else:
    print("It's cold.")

It's cold.

In [75]:
temp = 15
if temp > 15:
    print("It's warm.")
else:
    print("It's cold.")

It's cold.

In [76]:
import os

print(os.path.abspath(os.getcwd()))

C:\Users\User